{% extends "base.html" %}

{% block title %}Tables of all the regions, countries and cities that have used UV-CDAT{% endblock title %}

{% block content %}
{% load staticfiles %}
<!--http://freepages.genealogy.rootsweb.ancestry.com/~gearyfamily/expression-web/sort-table.html-->
<!--https://kryogenix.org/code/browser/sorttable/#symbolsbeforesorting-->
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<link href="{% static 'css/global_stats/table.css' %}" rel="stylesheet">

<div class="col-sm-4">
    <div class="table_scroll">
        <table class="table table-striped table-bordered table-hover sortable" style="table-layout: fixed">
            <tr>
                <th class="active">Regions</th>
                <th class="active"># of Unique Users</th>
            </tr>
            {% for region in checked %}
                <tr>
                    <td>{{region.0}}</td>
                    <td>{{region.6}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="col-sm-4">
    <div class="table_scroll">
        <table class="table table-striped table-bordered table-hover sortable" style="table-layout: fixed">
            <tr>
                <th class="active">Countries</th>
                <th class="active"># of Unique Users</th>
            </tr>
            {% for region in checked %}
                {% for country in region.2 %}
                    <tr>
                        <td>{{country.0}}</td>
                        <td>{{country.1}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>

<div class="col-sm-4">
    <div class="table_scroll">
        <table class="table table-striped table-bordered table-hover sortable" style="table-layout: fixed">
            <tr>
                <th class="active">Cities</th>
                <th class="active"># of Unique Users</th>
            </tr>
            {% for region in checked %}
                {% for country in region.2 %}
                    {% for city in country.3 %}
                        <tr>
                            <td>{{city.0}}</td>
                            <td>{{city.2}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}

