{% extends "base.html" %}

{% block title %}Pie chart of session start dates by year.{% endblock title %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'js/time_stats/pie_by_year.js' %}"></script>
<!--script src="d3.v4.min.js"></script-->
<!--script src="https://d3js.org/d3.v4.min.js"></script-->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

<!--% for key, values in deck.items %}
    {key}} &rarr; {values}} <br>
% endfor %}-->


<div class="dropdown show">
  <button class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Please pick a year
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
     {% for key, values in deck.items %}
            <li><a class="dropdown-item" href="#" onclick="loadpiechart({{values}}, {{key}})">For {{key}} data</a></li>
     {% endfor %}
      
  </ul>
</div>

<!--div id="chart"></div-->
<div id="pie_chart"></div>


<center>
<div id="piechart" style="width: 1000px; height: 1000px;"></div>
</center>

<script type="text/javascript">

      /*(function(d3) {
        'use strict';
        var dataset = [
          { label: 'Abulia', count: 10 },
          { label: 'Betelgeuse', count: 20 },
          { label: 'Cantaloupe', count: 30 },
          { label: 'Dijkstra', count: 40 }
        ];
        var width = 360;
        var height = 360;
        var radius = Math.min(width, height) / 2;
        var donutWidth = 75;                            // NEW
        var color = d3.scaleOrdinal(d3.schemeCategory20b);
        var svg = d3.select('#chart')
          .append('svg')
          .attr('width', width)
          .attr('height', height)
          .append('g')
          .attr('transform', 'translate(' + (width / 2) +
            ',' + (height / 2) + ')');
        var arc = d3.arc()
          .innerRadius(radius - donutWidth)             // UPDATED
          .outerRadius(radius);
        var pie = d3.pie()
          .value(function(d) { return d.count; })
          .sort(null);
        var path = svg.selectAll('path')
          .data(pie(dataset))
          .enter()
          .append('path')
          .attr('d', arc)
          .attr('fill', function(d, i) {
            return color(d.data.label);
          });
      })(window.d3);*/
















var sample_data = "/static/" + "sample_data.json";

var width = 550;          //width
var height = 350;        //height
var radius = 300/ 2;   //radius of the pie-chart
var color = d3.scale.category20b();    //builtin range of colors

var svg = d3.select('#pie_chart')        //create the SVG element inside the <body>
    .append('svg')
    .attr('width', width) //set the width and height of our visualization
    .attr('height', height) // attributes of the <svg> tag
    .append('g')              //create a group to hold our pie chart
    .attr('transform', 'translate(' + (width / 2) +
    ',' + (height / 2) + ')');//move the center of the pie chart from 0, 0 to specified value

var total=0;

//d3.json("sample_data.json", function(error, data) {
d3.json(sample_data, function(error, data) {
    for(var a=0;a<data.length;a++){
        total=total+parseInt(data[a].count); // simple logic to calculate total of data count value
        console.log(total);
    }
    var pie_data=[];
    for( var a=0;a<data.length;a++){ // simple logic to calculate percentage data for the pie
        pie_data[a]=(data[a].count/total)*100;
    }

    var arc = d3.svg.arc().outerRadius(radius);
    // creating arc element.
    var pie = d3.layout.pie()
        .value(function(d,i) { return pie_data[i]; })
        .sort(null);
    //Given a list of values, it will create an arc data for us
    //we must explicitly specify it to access the value of each element in our data array
    var path = svg.selectAll('path')
        .data(pie(data))
        .enter()
        .append('path')
        .attr('d', arc)
        .attr('fill', function(d, i) {
    return data[i].color;
    });
    //set the color for each slice to be chosen, from the color defined in sample_data.json
    //this creates the actual SVG path using the associated data (pie) with the arc drawing function
});















function loadpiechart(thiso, year){
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var okay = thiso;
    var all_it = new Array();
    var jan = 0;
    var feb = 0;
    var march = 0;
    var april = 0;
    var may = 0;
    var june = 0;
    var july = 0;
    var aug = 0;
    var sept = 0;
    var oct = 0;
    var nov = 0;
    var dec = 0;

    for(var i = 0; i < okay.length; i++) {
       if(okay[i] == 1){
            jan += 1; 
       }
       if(okay[i] == 2){
            feb += 1;
       }
       if(okay[i] == 3){
            march += 1;
       }
       if(okay[i] == 4){
            april += 1;
       }
       if(okay[i] == 5){
            may += 1;
       }
       if(okay[i] == 6){
            june += 1;
       }
       if(okay[i] == 7){
            july += 1;
       }
       if(okay[i] == 8){
            aug += 1;
       }
       if(okay[i] == 9){
            sept += 1;
       }
       if(okay[i] == 10){
            oct += 1;
       }
       if(okay[i] == 11){
            nov += 1;
       }
       if(okay[i] == 12){
            dec += 1;
       }
    }

    var data = google.visualization.arrayToDataTable([
      ['Month', 'Number of Sessions'],
      ['January',     Number(jan)],
      ['February',     Number(feb)],
      ['March',     Number(march)],
      ['April',     Number(april)],
      ['May',     Number(may)],
      ['June',     Number(june)],
      ['July',     Number(july)],
      ['August',     Number(aug)],
      ['September',     Number(sept)],
      ['October',      Number(oct)],
      ['November',  Number(nov)],
      ['December', Number(dec)]
    ]);

    var options = {
      title: 'Number of sessions for ' + year,
      pieHole: 0.4, 
      legend: {position: 'top',
               alignment: 'center',
               textStyle: { fontSize: 16},
               }
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
}
</script>


{% endblock content %}

