{% extends "base.html" %}
<!-- https://bost.ocks.org/mike/bar/ helpful link -->

{% block title %}Bar Graph of the Various Platforms{% endblock title %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/session_stats/platform_bar.css' %}" rel="stylesheet">

<br>
<div class="small_chart">
  <div style="width: {{d_count}}px;" tooltip="Platform: Darwin &rarr; Count: {{d_count}}"></div>
  <div style="width: {{l_count}}px;" tooltip="Platform: Linux &rarr; Count: {{l_count}}"></div>
  <!--div style="width: {m_count}}px;" tooltip="Platform: Mozilla &rarr; Count: {m_count}}"></div-->
</div>

<div class="chart">
  <div style="width: {{d_graph}}px;" tooltip="Platform: Darwin &rarr; Count: {{d_count}}"></div>
  <div style="width: {{l_graph}}px;" tooltip="Platform: Linux &rarr; Count: {{l_count}}"></div>
  <!--div style="width: {m_graph}}px;" tooltip="Platform: Mozilla &rarr; Count: {m_count}}"></div-->
</div>

{% endblock content %}
