{% extends "base.html" %}

{% block title %}Number of Unique Users Per Day<br><p>&nbsp;&nbsp;&nbsp;&nbsp;Hover over the graph for more details</p>{% endblock title %}

{% block content %}
{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/session_stats/calendar_heatmap.js' %}"></script>
<link href="{% static 'css/session_stats/calendar_heatmap.css' %}" rel="stylesheet">
<!--https://github.com/DKirwan/calendar-heatmap-->

<script type="text/javascript">
      var now = moment().endOf('day').toDate();
      var yearAgo = moment().startOf('day').subtract(1, 'year').toDate();
      var chartData = {{heatmap_dates|safe}};
      var heatmap = calendarHeatmap()
                      .data(chartData)
                      .selector('.container')
                      .tooltipEnabled(true)
                      .colorRange(['#f4f7f7', '#79a8a9'])
                      .onClick(function (data) {
                        console.log('data', data);
                      });
      heatmap();
</script>

{% endblock content %}
